.ipynb_checkpoints
api_key.txt
venv
.DS_Store
.vscode/
env/
*.csv
*.txt
.vs/beacondigest/config/applicationhost.config
.vs/beacondigest/v16/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
default.html5
notebooks/2021/07/05/recurring_file.ipynb
